.panel[data-variant] {
  --panel-color: var(--color, var(--surface-1));

  border-radius: min(32px, var(--lcs-radius, 0px));
  backdrop-filter: blur(var(--panel-blur, 0px));

  &[data-variant="solid"] {
    background-color: rgb(var(--panel-color));
    border: 1px solid transparent;
  }

  &[data-variant="outlined"] {
    background-color: rgba(var(--panel-color), 0.8);
    border: 1px solid rgba(var(--color, var(--border-1)));

    &[data-color] {
      background-color: rgba(var(--panel-color), 0.1);
    }
  }

  &[data-variant="muted"] {
    background-color: rgba(var(--panel-color), 0.6);
    border: 1px solid transparent;

    &[data-color] {
      background-color: rgba(var(--panel-color), 0.2);
    }
  }
}
