.switch-root[data-variant] {
  --switch-color: var(--color, var(--primary));

  display: flex;
  flex-direction: row;
  gap: calc(12px * var(--lcs-spacing, 1));
  cursor: pointer;

  &[data-disabled="true"],
  &[data-readonly="true"] {
    cursor: not-allowed !important;
  }

  &:not([data-align]) {
    align-items: center;
  }

  &[data-disabled="true"] {
    opacity: 0.6;
  }

  /* Label positions */
  &:has(.switch-label[data-position="top"]) {
    flex-direction: column-reverse;
    align-items: start;
  }

  &:has(.switch-label[data-position="bottom"]) {
    flex-direction: column;
    align-items: start;
  }

  &:has(.switch-label[data-position="right"]) {
    flex-direction: row-reverse;
  }

  /* Container */
  .switch-container {
    display: flex;
    overflow: hidden;
    border-radius: 32px;
    height: fit-content;
    width: calc(44px * var(--lcs-spacing, 1));
    min-width: calc(44px * var(--lcs-spacing, 1));

    &[data-focused="true"] {
      outline: 1px solid rgba(var(--switch-color), 0.8);
      outline-offset: 0.5px;
    }

    /* Sizes */
    &[data-size="xs"] {
      width: calc(28px * var(--lcs-spacing, 1));
      min-width: calc(28px * var(--lcs-spacing, 1));
    }
    &[data-size="sm"] {
      width: calc(36px * var(--lcs-spacing, 1));
      min-width: calc(36px * var(--lcs-spacing, 1));
    }
    &[data-size="lg"] {
      width: calc(52px * var(--lcs-spacing, 1));
      min-width: calc(52px * var(--lcs-spacing, 1));
    }
    &[data-size="xl"] {
      width: calc(68px * var(--lcs-spacing, 1));
      min-width: calc(68px * var(--lcs-spacing, 1));
    }
    &.size {
      border-radius: max(calc(var(--custom-size) / 2 + 2px), 16px);

      width: calc(var(--custom-size) + 4px);
      min-width: calc(var(--custom-size) + 4px);
    }

    /* Variants */
    &[data-variant="solid"] {
      background-color: rgb(var(--surface-1));
      border: 2px solid rgb(var(--border-1));
      transition: background-color 100ms;
    }

    &[data-variant="outlined"] {
      background-color: rgba(var(--surface-1), 0.4);
      border: 2px solid rgb(var(--switch-color));
      transition: background-color 100ms;
    }

    &[data-variant="muted"] {
      background-color: rgba(var(--surface-1), 0.6);
      border: 2px solid rgba(var(--switch-color), 0.3);
      transition: background-color 100ms;
    }
  }
}
