[data-color] {
  --color: var(--custom-color);
}
[data-color="primary"] {
  --color: var(--primary);
}
[data-color="secondary"] {
  --color: var(--secondary);
}
[data-color="tertiary"] {
  --color: var(--tertiary);
}
[data-color="success"] {
  --color: var(--success);
}
[data-color="danger"] {
  --color: var(--danger);
}
[data-color="warning"] {
  --color: var(--warning);
}
[data-color="info"] {
  --color: var(--info);
}
