.accordion-root[data-variant] {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: min(var(--lcs-radius, 0), 24px);
  overflow: hidden;

  &[data-variant="solid"] {
    background-color: rgba(var(--background-color-2), 0.95);
    border: 1px solid rgba(var(--border-color), 0.3);
  }

  &[data-variant="outlined"] {
    border: 1px solid rgb(var(--border-color));
  }

  &[data-variant="muted"] {
    background-color: rgba(var(--background-color-2), 0.6);
  }
}
