.select-content {
  background-color: rgba(var(--background-color-1), 0.9);
  border-radius: min(var(--lcs-radius), 24px);
  box-shadow: var(--shadow-md);
  backdrop-filter: blur(var(--lcs-backdrop-blur, 2px));
  overflow: hidden;
}

.select-content[data-state="open"] {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.select-content[data-trigger-variant="outlined"] {
  border: 1px solid rgb(var(--border-color));
}

.select-content[data-trigger-variant="solid"] {
  background-color: rgba(var(--background-color-2), 0.95);
}
